.day {
  margin-left: 290px;
  color: $menu-color;

  h2 {
    margin: 40px 20px;
    font-family: $text-font;
    text-transform: uppercase;
  }

  .workouts {
    list-style: none;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;


    .start-time {
      width: 150px;
      font-weight: normal;

      span {
        font-weight: bold;
      }
    }

    thead, th {
      background-color: #FEFEFE;
      font-family: $text-font;
      text-align: center;
      font-size: 1.3em;
      font-weight: normal;
      color: $menu-color;
    }

    h3 {
      font-family: $text-font;
      font-weight: bold;
      width: 100%;
    }

    .workout-item {
      width: 95%;
      border: 2px solid $menu-color;
      margin: 5px auto;
    }

    .workout-info {
      display: table-cell;
      width: 200px;
      font-weight: bold;
      height: 100%;
      padding: 0;
      vertical-align: middle;
      border-right: 1px solid $menu-color;
    }

    .workout-clients {
      display: table-cell;
      text-align: left;
      height: 100%;
      vertical-align: top;
      padding-left: 35px;
      position: relative;
      width: 80%;

      .icon-add {
        margin-left: 10px;
        font-size: 1.4em;
        cursor: pointer;
        transition: color .5s;
      }


    }


  }
}
