.sidebar {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  color: $text-color;
  text-align: center;
}

.sidebar-menu {

  list-style: none;
  width: 85px;
  height: 100%;
  float: left;
  background-color: $menu-color;
  text-align: center;
  font-size: 14px;
  margin: 0;
  padding: 0;
  border-right: 2px solid #000;




  .side-icon {
    font-size: 40px;
  }

  p {
    margin: 0;
  }

  li {
    a, a:hover {
      color: $text-color;
      width: 100%;
      height: 100%;
      display: block;
      padding: 8px 0;
    }

    a.active {
      color: $menu-color;
      background-color: $text-color;
      font-weight: bold;
    }

    a::after {
      content: " ";
      margin: 0 auto;
      display: block;
      height: 1px;
      width: 60px;
      border-bottom: 1px solid $text-color;

    }
  }
}

.options {
  width: 200px;
  height: 100%;
  float: left;
  background-color: $optons-color;
  border-right: 2px solid #000;
  text-transform: uppercase;

  .title {
    display: block;
    height: 120px;
    a {
      height: 100%;
    }
  }

  h2 {
    width: 100%;
    text-align: center;
    font-family: $text-font;
    color: $text-color;
    font-size: 30px;
    margin: 14px auto 4px auto;
  }

  h2 + p::after {
    content: " ";
    margin: 25px auto;
    display: block;
    height: 1px;
    width: 160px;
    border-bottom: 1px solid $text-color;

  }

  .add {
    color: $text-color;
    display: block;
    text-align: center;
    width: 80%;
    margin: 10px auto;
    text-transform: uppercase;
  }

  .add:focus {
    outline: none;
  }

  .week-days {
    list-style: none;
    margin: 20px auto;

    li {

      a, a:hover {
        transition: all .2s;
        color: $text-color;
        width: 80%;
        margin: 7px auto;
        height: 100%;
        display: block;
        padding: 8px 0;
        border: 1px solid $optons-color;
      }

      a:hover {
        border: 1px solid $text-color;
      }

      .active, .active:hover {
        color: $optons-color;
        background-color: $text-color;
        font-weight: bold;
        border: 1px solid $optons-color;
      }
    }
  }

  .week-days::after {
    content: " ";
    margin: 25px auto;
    display: block;
    height: 1px;
    width: 160px;
    border-bottom: 1px solid $text-color;
  }

  button {
    position: relative;
    cursor: pointer;
    height: 50px;
    text-align: center;
    transition: all .2s;
    border: 1px solid $optons-color;
    width: 100%;

    div {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
    }

    .btn-text {
      width: 75%;
      line-height: 18px;
    }

    .btn-icon {
      width: 25%;
      position: relative;
      font-size: 18px;
    }
  }

  a:hover, button:hover {
    border: 1px solid $text-color;
  }

  a, a:hover {
    transition: all .2s;
    color: $text-color;
    width: 100%;
    margin: 7px auto;
    height: 50px;
    display: block;
    padding: 8px 0;
    border: 1px solid $optons-color;
  }
}
